/* Nasa Picture of the Day - 1.0 - January 2017 */

/**
  0. VARIABLES AND KEYFRAMES
  1. GENERAL
  2. BLOCKS
  3. ELEMENTS
  **/

/** === 0. VARIABLES AND KEYFRAMES === **/

$color1: #222
$color2: #88cc00
$color3: #777

@keyframes spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

/** === 1. GENERAL === **/

*
  box-sizing: border-box

html, body
  height: 100%

body
  background-color: $color1
  color: #fff
  font-family: "Open Sans", sans-serif

h1, h2
  text-align: center
  font-weight: 400
  font-family: 'Nixie One', cursive

h1
  font-size: 3em

h2
  font-size: 2em
  color: $color2

img
  height: auto
  width: auto
  max-width: 100%

a
  color: $color2
  font-family: 'Nixie One', cursive
  text-decoration: none
  font-size: 1.3em
a:hover
  text-decoration: underline

.noscroll
  overflow: hidden

.text-right
  text-align: right

/** === 2. BLOCKS === **/

#grid
  max-width: 85%
  margin: 0 auto

.grid-sizer,
.grid-item
  width: 25%

.grid-item
  float: left
  padding: 10px
  img
    background: $color1
    cursor: pointer

#modal
  position: fixed
  z-index: 2
  top: 0
  left: 0
  padding: 35px
  background-color: $color1
  display: none
  height: 100vh
  width: 100%
  overflow-y: scroll
  #modal-icon
    position: absolute
    right: 10px
    top: 0
    font-size: 28px
    color: rgba(255,255,255,0.2)
    cursor: pointer
    &:hover
      color: rgba(255,255,255,0.5)
  #modal-img
    display: inline-block
    width: 65%
  #modal-txt
    display: inline-block
    width: 33%
    padding: 15px
    vertical-align: top

/** === 3. ELEMENTS === **/

.loader-content
  width: 100%
  text-align: center
  #loader
    border-style: solid
    border-width: 8px
    border-color: $color2 $color3 $color3
    border-radius: 50%
    width: 40px
    height: 40px
    animation: spin 3s linear infinite
    display: none