@import '../colors';

div[id^="modal-"]{
  background-color: rgba(0,0,0,0.8);
  display: none;
  height: 100vh;
  padding: 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  .container {
    background-color: $primary_color;
    max-width:  1200px;
    margin: 0 auto;
    position: relative;

    .modal-icon{
      color: rgba(255,255,255,0.2);
      cursor: pointer;
      font-size: 28px;
      position: absolute;
      right: 10px;
      top: 0;
      &:hover{
        color: rgba(255,255,255,0.5);
      }
    }

    .modal-img{
      display: inline-block;
      width: 43%;
    }

    .modal-txt {
      display: inline-block;
      padding: 15px;
      vertical-align: top;
      width: 55%;
    }
  }
}