/* Nasa Picture of the Day - 2.0 - October 2017 */
/**
 * 0. VARIABLES
 * 1. GENERAL
 * 2. BLOCKS
 * 3. ELEMENTS
 */

@import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/** === 0. VARIABLES AND KEYFRAMES === */

$primary_color: #222;
$secondary_color: #88cc00;
$ternary_color: #fff;

/** === 1. GENERAL === */
* {
  box-sizing: border-box;
}

html, body {
  background-color: $primary_color;
  height: 100%;
}

section.container {
  background-color: $primary_color;
  color: $ternary_color;
  font-family: "Open Sans", sans-serif;
}

h1, h2 {
  text-align: center;
  font-weight: 400;
  font-family: "Nixie One", cursive;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  color: $secondary_color;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

a {
  color: $secondary_color;
  font-family: "Nixie One", cursive;
  text-decoration: none;
  font-size: 1.3em;
  &:hover {
    text-decoration: underline;
  }
}

.noscroll {
  overflow: hidden;
}

.text-right {
  text-align: right;
}

/** === 2. BLOCKS === */

.overlay {
  background: rgba(0,0,0,0.9);
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: .5s ease;
  width: 100%;
  z-index: 1;
  &:hover {
    opacity: 1;
  }
  .overlay-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 2em;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.masonry {
  column-gap: 1.5em;
  font-size: .85em;
  padding: 0 2.5rem;
  @media (min-width: 560px) {
    column-count: 2;
  }
  @media (min-width: 768px) {
    column-count: 3;
  }
  @media (min-width: 980px) {
    column-count: 4;
  }
  @media (min-width: 1200px) {
    column-count: 5;
  }
}

.item {
  display: inline-block;
  margin: 0 0 0.5em;
  position: relative;
  width: 100%;
}

////#modal {
////  position: fixed;
////  z-index: 2;
////  top: 0;
////  left: 0;
////  padding: 35px;
////  background-color: $primary_color;
////  display: none;
////  height: 100vh;
////  width: 100%;
////  overflow-y: scroll;
////  #modal-icon {
////    position: absolute;
////    right: 10px;
////    top: 0;
////    font-size: 28px;
////    color: rgba(255, 255, 255, 0.2);
////    cursor: pointer;
////    &:hover {
////      color: rgba(255, 255, 255, 0.5);
////    }
////  }
////  #modal-img {
////    display: inline-block;
////    width: 65%;
////  }
////  #modal-txt {
////    display: inline-block;
////    width: 33%;
////    padding: 15px;
////    vertical-align: top;
////  }
////}
