/* Nasa Picture of the Day - 2.0 - October 2017 */
@import 'colors';

@import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

html, body {
  background-color: $primary_color;
  height: 100%;
}

section.container {
  background-color: $primary_color;
  color: $ternary_color;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Nixie One", cursive;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  color: $secondary_color;
  font-size: 2em;
}

h3 {
  color: $secondary_color;
  font-size: 1em;
}

img {
  height: auto;
  max-width: 100%;
  width: auto;
}

a {
  color: $secondary_color;
  font-family: "Nixie One", cursive;
  font-size: 1.3em;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.noscroll {
  overflow: hidden;
}

.text-right {
  text-align: right;
}